/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: #10b981;
}
button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}
html {
  height: 100%;
  width: 100%;
}
